@using FromSql.CoreWeb.DB.Models;
@model List<PeopleModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>@item.Name</div>
        }
    }
</body>
</html>