
@{
    Layout = null;
    
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/signin.css" rel="stylesheet" />
</head>
<body id=bodyStyle>   
    <div id="maskLayer">
        <div class="top_bg"><div class="top_btn"><a href="#" class="top_a">手机注册</a> || <a href="#" class="top_a">邮箱注册</a></div></div>        
        <div>
            <ul class="ul_content">
                <li><img src="~/images/log.png" style="width:500px" /></li>
                <li><input type="text" class="text" id="email" placeholder="请输入邮箱"></li>
                <li><input type="text" class="text" id="pw1" placeholder="请输入密码"><br></li>
                <li><input type="text" class="text" id="pw2" placeholder="再次输入密码"><br></li>
                <li><button type="button" id='submit'><span>注册</span></button></li>
                <li><button type="button" id='cancel'><span>取消</span></button></li>
            </ul>
        </div>
    </div>
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/signin.js"></script>
</body>
</html>

